:root {
    --fontes: white;
    --cor-botoes-excluir: red;
    --cor-botoes-normal: rgb(36, 27, 27);
  }

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

body {
    background-color: white;
}

/* Estilo Calculadora */
.corpo_calculadora {
    background-color: rgba(0, 0, 0, 0.692);
    width: 420px;
    margin: auto;
    padding: 12px;
    border-radius: 15px;
}

.titulo_calculadora {
    text-align: center;
    color: var(--fontes);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    margin: 5px;
}

.visor_conta {
    margin-bottom: 0px;
    margin-left: 12px;
    height: 35px;
    width: 390px;
    resize: none; /* Desabilitar o Negócio para aumentar o TextArea*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: none;
}

.visor {
    margin-top: -4px;
    margin-bottom: 10px;
    margin-left: 12px;
    height: 65px;
    width: 390px;
    resize: none; /* Desabilitar o Negócio para aumentar o TextArea*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: none;
}

.botoes {
    width: 100px;
    height: 45px;
    margin: 1px;
    color:  var(--fontes);;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
}

.botoes:hover{
    background-color: black;
}
/* Fim Estilo Calculadora */